/* Sidebar.css */
.sidebar-custom {
  background-color: #1b1f3b; 
  color: white;
  height: 100vh;
  width: 250px;           /* largeur fixe de la sidebar */
  position: fixed;        /* fixe à gauche de l'écran */
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;          /* pour qu'elle reste au-dessus du contenu */
}

.sidebar-custom h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.sidebar-custom .nav-link {
  color: rgb(182, 182, 182);
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.sidebar-custom .nav-link.active {
  background-color: #1f234b;
  border-radius: 5px;
}

.sidebar-custom .nav-link i {
  margin-right: 0.5rem;
}

.sidebar-custom .badge {
  margin-left: auto;
}
