.sidebar-custom {
  background-color: #1b1f3b; 
  color: white;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebar-custom h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white !important;
  font-weight: bold;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 0;
}

.sidebar-divider {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.sidebar-custom .nav-link {
  color: rgb(182, 182, 182);
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.sidebar-custom .nav-link.active {
  background-color: #1f234b;
  border-radius: 5px;
}

.sidebar-custom .nav-link.dashboard-link {
  font-size: 1.1rem;
  padding: 14px 15px;
}


.sidebar-custom .nav-link:hover {
  background-color: transparent !important;
  color: white !important;
}

.sidebar-custom .nav-link i {
  margin-right: 0.5rem;
}

.sidebar-custom .badge {
  margin-left: auto;
}
