<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-page">
    <h1>Connexion</h1>

    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text"
                   id="username"
                   name="username"
                   placeholder="utilisateur"
                   required />
        </div>

        <div>
            <label for="password">Mot de passe</label>
            <input type="password"
                   id="password"
                   name="password"
                   placeholder="mots de passe " 
                   required />
        </div>

        <button type="submit" th:disabled="${loading}">
            <span th:text="${loading} ? 'Connexion...' : 'Se connecter'"></span>
        </button>
    </form>

    <!-- Message d'erreur -->
    <p th:if="${error}" class="error" th:text="${error}"></p>
</div>

</body>
</html>