<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Virement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
    <div class="container container-with-sidebar">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="main-content">
            <h1>Effectuer un virement</h1>

            <form th:action="@{/virement}" method="post">
                <input type="hidden" name="token" th:value="${token}"/>
                <label>Montant à transférer :</label>
                <input type="text" name="montant" required/>
                <label>Destinataire :</label>
                <input type="text" name="destinataire" required/>
                <button type="submit">Transférer</button>
            </form>
        </div>
    </div>
</body>
</html>

