/* Sidebar styles */
.container-with-sidebar {
    display: flex;
    max-width: 900px;
    width: 100%;
    padding: 0;
    min-height: 400px;
}

.sidebar {
    width: 200px;
    background-color: #fffefe;
    color: #000;
    border-radius: 8px 0 0 8px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1), inset -3px 0 10px rgba(0, 0, 0, 0.05);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #dbdbdb;
}

.sidebar li a {
    color: #000;
    text-decoration: none;
    display: block;
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: white;
    border-radius: 0 8px 8px 0;
}

.main-content h1 {
    color: #333;
}

.main-content p {
    color: #333;
}

.main-content label {
    color: #333;
}

